version: '3.8'

services:
  # Service 1: Wadah Utama (Node, Next, Nginx, PHP CLI, WA Gateway)
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      # Menghubungkan folder repo kamu ke dalam container
      - ../:/workspaces/spmb-tuban-app:cached
    command: sleep infinity # Agar container tetap menyala menunggu perintahmu
    network_mode: service:db # Trik agar app bisa akses db via 'localhost'

  # Service 2: Database Postgres
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
      # Script untuk membuat DB otomatis saat pertama kali jalan
      - ../init-scripts:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: ppdb_db
      POSTGRES_PASSWORD: Tuban.1data # Ganti nanti di env production
      # POSTGRES_DB default tidak perlu karena kita pakai script init
    ports:
      - "5432:5432"

volumes:
  postgres-data: